version: '3.8'
services:
  nats:
    image: nats:latest
    ports:
      - "4222:4222"
  
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: trading_bot
    ports:
      - "5432:5432"